.red{
    background: red;
    display: flex;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 30px;
}
.green{
    background: green;
    display: flex;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 30px;
}
.yellow{
    background: yellow;
    display: flex;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 30px;
}
.glow{
    box-shadow: 2px -1px 41px 39px rgba(217,210,35,0.75);
}
.traffic-light{
    height: 375px;
    width: 150px;
    background: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}